# Entornos virtuales
.venv/
venv/
env/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Configuración de VS Code
.vscode/

# (Opcional) Ignorar los JSON generados si no querés subirlos
# level_data.json